# Dependencias
node_modules/

# Variables de entorno
.env
.env.local

# Logs
npm-debug.log*

# Editor/IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Testing
coverage/

# Build
/dist/

# Archivos de usuario
temp/
